#settings
{
    position: fixed;
    top: calc(10% - 1.5em); 
    left: calc(10% - 1.5em); 
    width: 80vw; height: 80vh;
    background-color: white;
    z-index: 9999;
    padding: 1.5em;
    display: none;
    flex-direction: column;
}
#settings>form
{
    display: flex;
    flex-direction: column;

}