/**
 * @brief Styles for window.
 *
 * The following removes default margin and padding 
 * Also making sure th ebody takes up the full width of the page so there aren't weird scroll bars
 *
 * @desc window
 */
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(20, 20, 21);
    display: flex; justify-content: center; align-items: center;
    flex-direction: column;
}

/* @brief Defining Root Elements */
:root {
    --green1: #2abc33;
    --green2: #1def24;
    --green3: #3cd24675;
}

/**
 * @brief Styles for title.
 *
 * This CSS defines the title of the sort
 *
 * @id title
 */
#title{
    text-transform: uppercase;
    position: absolute;
    top: 2em;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    left: 50%; /* Move the element 50% from the left of its parent */
    transform: translate(-50%, -50%); /* Center the element precisely */
    color: white;
    font-weight: bold;
    transition: color 0.2s ease;
    /* #1def24 */
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 900px) {
    #title{
        width: 70vw;
        text-align: center;
    }  
}
@media only screen and (max-width: 600px) {
    #title{
        font-size: 0.9em;
    }   
}

/**
 * @brief Styles for bar container.
 *
 * This CSS defines the container for all the data bars
 * It's purpose is to evently space out the bars
 *
 * @id container
 */
#container{
    padding: 20px;
    display: flex; align-items: end;
    gap: 10px;
}
#sort_speed_slider
{
    display: flex; justify-content: center; align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.6);
    gap: 10px;
    opacity: 0.5;
    -webkit-transition: .2s all;
    transition: opacity .2s all;
}
#sort_speed_slider:hover
{
    opacity: 1;
}
#slider 
{
    width: calc(100% - 40px);
    -webkit-appearance: none;
    height: 10px;
    background: #505050;
    outline: none;

    border-radius: 10px;
}
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}
#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}


/**
 * @brief Styles for a bar element.
 *
 * This CSS defines the styling for a bar element, which is used to represent data visually.
 * The bar is given a height, width, color, as well as text to represent its value
 *
 * @class bar
 */
.bar{
    position: relative;
    width: 20px;
    background: rgba(255, 255, 255, 0.8);
    animation: grow 0.5s ease-in forwards;
    transform-origin: bottom;
}
@keyframes grow {
    0%{transform: scaleY(0);}
    100%{transform: scaleY(1);}
}
/* .bar:nth-child(3){
    background-color: yellowgreen;
    transform: translateX(-30px);
} */
.barNum{
    position: absolute;
    top: -1.3em;
    font-size: 0.9em;
    width: 100%; text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}



/**
 * @brief CSS styles for the play button, sort selection, and related elements.
 * This CSS defines the styling for a play button, sort selection, and their associated components.
 */
 #play{
    border: 1px solid white;
    padding: 10px 20px; border-radius: 15px; cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element precisely */
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sort_selection
{
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
    user-select: none;
}
.sort
{
    user-select: none;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sort:hover,
.sort:active, 
.sort.active 
{
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}



/**
 * @brief CSS styles for a notification container and its elements.
 * This CSS defines the styling for a notification container and its associated components,
 * including notifications, images, titles, messages, and time stamps.
 */#notification_container
{
    cursor: pointer;
    user-select: none;
    width: 35vw;
    min-width: 300px;
    position: fixed;
    top: 1em;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes spawn {
    0%{transform: scaleY(0);}
    100%{transform: scaleY(1);}
}
.notification
{
    animation: spawn 0.2s forwards;
    transform-origin: top;
    width: 100%;
    font-size: 0.7em;
    border-radius: 10px;
    padding: 7px 8px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}
.notification_image_container
{
    height: 10%; width: 100%;
    display: flex; align-items: center;
    gap: 0.6em;
}
.notification_image{
    width: 18px;
    border-radius: 5px;
}
.notification_title{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.notification_message{
    padding: 10px 0;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}
.notification_time{
    position: absolute;
    right: 1em;
    color: rgba(0, 0, 0, 0.6);
}






/*
 * Sound Effect styles for buttons
 */
#sound_selection
{
    position: absolute;
    left: 1em;
    bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 0.9em;
    width: fit-content;
}
.sound.active{
    background-color: rgba(255, 255, 255, 0.9) !important;
}
.sound 
{
    position: relative;
    cursor: pointer;
    padding: 0.75em;
    color: black;
    border-radius: 50%;
    width: 1em !important;
    aspect-ratio: 1 / 1;
    display: flex; justify-content: center; align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}
.sound:nth-child(1)
{
    position: relative;
    margin-bottom: 0.35em;
}
.sound:nth-child(1)::after
{
    content: '';
    position: absolute;
    top: calc(100% + 0.35em); left: 0;
    width: 100%; height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
.sound:hover 
{
    transition: 0.2s ease;
    background-color: white;

}
i{pointer-events: none;}

#sound_selection:hover #volume_hover
{
    display: block !important;
}
#volume_hover{
    display: none;
    position: absolute;
    left: 99%;
    padding-left: 1em;
    height: 100%;
    width: 1.8em;
}
#volume{
    width: 100%; height: calc(100% - 1.5em);
    background-color: white; color: black;
    border-radius: 2em;
    display: flex; justify-content: center; align-items: center;
    padding: 0.75em 0;
    cursor: pointer;
}
.slider
{
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%; width: 35%;
    border-radius: 1em;
    position: relative;
}
.color-indicator {
    width: 100%;
    height: 25%; /* Initial height is 0 */
    background-color: rgb(0, 0, 0);
    z-index: 2;
}   
#slider_holder{
    position: absolute;
    width: calc(35% - 0.35em); height: calc(100% - 1.5em);
    border-radius: 2em;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center; align-items: end;
}















#vol_level
{
    background-color: white;
    position: absolute;
    left: 110%;
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.85em;
}



#github
{
    position: absolute;
    right: 1em;
    bottom: 1em;
    border-radius: 50%;
    height: 50px; width: 50px;
    overflow: hidden;
}
#github>a
{
    cursor: pointer;
    color: white;
    height: 100%; width: 100%;;
    display: flex;
    justify-content: center; align-items: center;
    font-size: 1.5em;
    text-decoration: none;
}

